*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.logo { 
    width: 90px;
    height: 36px;


}

.nav-list {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #242635;
    
}

li {
   list-style-type: none;
}

/* main */
.main-container {
    
    padding-bottom: 0;
}
main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    

}
.rubrik {
    font-size: 90px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 150px;
    line-height: 1.2;
    text-align: center;
}
p {
    font-family: "Source Sans 3", sans-serif; /*could not find exact font family*/
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;

}

/* Img */

.horses {
    width: 100%;
    height: auto;
    max-width: 85vw;
    padding-bottom: 0;



}
/* Media queries */

/* mobile */
@media screen and (max-width: 375px){
    .nav-container {
        flex-direction: column;
        max-width: 375px;
        height: auto;
        justify-content: center;
        margin-bottom: 0;
    }
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
    .rubrik {
        padding-top: 20px;
        font-size: 2rem;

    }
    .horses {
        max-width: 100%;
        margin-top: 20px;
    }

    }
    /* Ipad */
@media screen and (max-width: 768px) {

    body {
        height: 100vh;
    }
    .rubrik {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .text {
        font-size: 1.4rem;
        margin-bottom: 20px;
        line-height: 1.7em;

    }
    .horses {
        margin-bottom: 0;
        max-width: 80vw;
        height: 50vh;
    }

}

