*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.logo { 
    width: 90px;
    height: 36px;


}

.nav-list {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #242635;
    
}
.hamburger {
    display: none;
}

li {
   list-style-type: none;
}

/* main */
.main-container {
    
    padding-bottom: 0;
}
main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    

}
.rubrik {
    font-size: 90px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
    line-height: 1.2;
    text-align: center;
}
p {
    font-family: "Source Sans 3", sans-serif; /*could not find exact font family*/
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;
    margin-left: 25vw;
    margin-right: 25vw;

}

/* Img */

.horses {
    width: 100%;
    height: auto;
    max-width: 85vw;
    padding-bottom: 0;



}
/* Media queries */

/* mobile */
@media screen and (max-width: 375px){
    .nav-container {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

    .logo {
        width: 90px;
        height: 36px;
    }

    .hamburger {
        display: block;

    }
    .nav-list  {
        display: none;
    }
    main {
        max-height: 100vh;
    }
    .rubrik {
        font-size: 36px;
        margin-top: 0 !important;
        padding-top: 0;
    }
    p {
        font-size: 18px !important;
        color: #242635;
    }
    .horses {
        max-width: 100%;


    }

    }
    /* Ipad */
@media screen and (max-width: 768px) {

    body {
        height: 100vh;
    }
    .rubrik {
        margin-top: 100px;
        margin-bottom: 30px;

    }
    p {
        font-size: 1.4rem;
        margin-bottom: 20px;
        line-height: 1.7em;
        margin-left: 10vw;
        margin-right: 10vw;

    }
    .horses {
        margin-bottom: 0;
        max-width: 80vw;
        height: 50vh;
    }
    

}

