*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo { 
    width: 90px;
    height: 36px;


}

.nav-list {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #242635;
    
}

li {
   list-style-type: none;
}

/* main */
main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
    padding: 30px;

}
.rubrik {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    padding-top: 150px;
    line-height: 1.2;
    text-align: center;
}
.text {
    font-family: "Poppins", sans-serif;
    margin-top: 1.2rem;
    font-size: 1rem;
    text-align: center;
    width: 90%; 
    max-width: 570px;

}

/* Img */

.horses {
    width: 100%;
    height: auto;
    margin-top: 50px;
    max-width: 800px;



}
/* Media queries */

/* mobile */
@media screen and (max-width: 375px){
    .nav-container {
        flex-direction: column;
        max-width: 375px;
        height: auto;
        justify-content: center;
        margin-bottom: 0;
    }
    .rubrik {
        padding: 0;
    }
    .nav-list {
        flex-direction: column;
    }
    .rubrik {
        padding-top: 20px;

    }
    .horses {
        max-width: 100%;
        margin-top: 20px;
    }

    }
    /* Ipad */
@media screen and (max-width: 768px) {

    body {
        height: 100vh;
    }
    .rubrik {
        margin-top: 230px;
    }

    .horses {
        margin-bottom: 0;
        max-width: 80vw;
        height: 50vh;
    }

}

